<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Авторизация</h1>
                        <form id="auth-form">
                            <div class="mb-3">
                                <label for="login" class="form-label">Логин:</label>
                                <input id="login" type="text" name="login" class="form-control"/>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Пароль:</label>
                                <input id="password" type="password" name="password" class="form-control"/>
                            </div>
                            <input type="hidden" id="next-url" name="next-url" value="{{ next_url }}">
                            <div class="d-grid">
                                <button id="auth-submit-button" type="submit" class="btn btn-primary">Войти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='external/bootstrap.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='admin_auth.js') }}"> </script>
</body>
</html>