<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрещенные зоны</title>
      <script src="{{ url_for('static',filename='external/ol.js') }}"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/ol.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-md-3 p-3 bg-light">
          <h2 class="text-center mb-4">Запрещенные зоны</h2>
          <form id="zone-form">
            <div class="mb-3">
              <label for="zone-name" class="form-label">Имя зоны:</label>
              <input type="text" id="zone-name" name="zone-name" class="form-control" required>
            </div>
            <input type="hidden" id="token" name="token" value="{{ token }}">
            <div class="d-grid gap-2">
              <button type="button" id="save-zone" class="btn btn-primary">Сохранить зону</button>
              <button type="button" id="start-drawing" class="btn btn-primary">Нарисовать новую зону</button>
              <button type="button" id="delete-zone" class="btn btn-primary">Удалить выбранную зону</button>
              <button type="button" id="export-zones" class="btn btn-primary">Экспортировать зоны</button>
              <input type="file" id="import-zones-file" style="display: none;">
              <button type="button" id="import-zones" class="btn btn-primary">Импортировать зоны</button>
            </div>
          </form>
        </div>
        <div class="col-md-9 p-0 h-100">
          <div id="map" class="w-100 h-100">
            <div id="info"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static',filename='external/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='forbidden_zones.js') }}"></script>
  </body>
</html>