<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инфо</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='external/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='external/chartjs-adapter-date-fns.js') }}"></script>
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Инфо</h1>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="id" class="form-label">Серийный номер:</label>
                            <input type="text" id="id" name="id" class="form-control">
                        </div>
                        <p id="firmware" class="note">Версия прошивки: - </p>
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-center">
                        <div class="d-grid gap-2">
                            <button id="submit" class="btn btn-primary">Получить журналы</button>
                            <button id="submit-speed" class="btn btn-primary">Получить график скорости</button>
                            <button id="submit-events" class="btn btn-primary">Получить события</button>
                            <button id="submit-telemetry-csv" class="btn btn-primary">Скачать телеметрию</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="logs-container" class="log-data card mt-4" style="display: none;">
            <div class="card-body">
                <h5 class="card-title">Журналы</h5>
                <pre id="logs-content"></pre>
            </div>
        </div>

        <div id="speed-chart-container" class="chart-container mt-4" style="display: none;">
            <canvas id="speed-chart"></canvas>
        </div>

        <div id="events-container" class="log-data card mt-4" style="display: none;">
          <div class="card-body">
            <h5 class="card-title">События</h5>
            <div id="events-content"></div>
          </div>
        </div>
    </div>

    <script src="{{ url_for('static',filename='external/bootstrap.min.js') }}"></script>
    <script type="module" src="{{ url_for('static',filename='logs.js') }}"> </script>
</body>
</html>