<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission Sender</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body class="bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Mission Sender</h1>
                        <form id="mission-sender-form">
                            <div class="mb-3">
                                <label for="id" class="form-label">ID:</label>
                                <input type="text" id="id" name="id" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label for="myfile" class="form-label">Миссия:</label>
                                <input type="file" id="myfile" name="myfile" class="form-control">
                            </div>
                            <div class="d-grid">
                                <button type="submit" id="mission-sender-submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='external/bootstrap.min.js') }}"></script>
    <script type="module" src="{{ url_for('static',filename='mission_sender.js') }}"> </script>
</body>
</html>